<section id="bio">
  <section id="img-wrapper">
    <img src="https://raw.githubusercontent.com/euriconicacio/blog/main/assets/images/hellhound.png" alt="h3llh0und" />
  </section>
  <section id="bio-wrapper">
    <div id="text-wrapper">{{site.data.author.description}}</div>
    <div id="social-wrapper">
      {% for i in site.data.author.contact %}
      <a href="{{i.url}}" target="_blank">
        <img src="{{site.baseurl}}/assets/icons/{{i.title}}.png" alt="" />
      </a>
      {%endfor%}
    </div>
  </section>
</section>
